In [142]:
# __author__: CH
# __date__: Apr 19

In [143]:
import pandas as pd
import numpy as np
import os.path
import geojson 
import json
import urllib2
import geopandas as gpd
import pysal
import pickle
from shapely import geometry

cwd = os.getcwd()

In [2]:
# get pluto data
pluto_bk = gpd.read_file(os.path.join(os.path.dirname(cwd), 'data','bk_mappluto_16v2', 'BKMapPLUTO.shp'))
pluto_mn = gpd.read_file(os.path.join(os.path.dirname(cwd), 'data','mn_mappluto_16v2', 'MNMapPLUTO.shp'))
pluto_qn = gpd.read_file(os.path.join(os.path.dirname(cwd), 'data','qn_mappluto_16v2', 'QNMapPLUTO.shp'))
pluto_si = gpd.read_file(os.path.join(os.path.dirname(cwd), 'data','si_mappluto_16v2', 'SIMapPLUTO.shp'))

pmap = pd.concat([pluto_bk, pluto_mn, pluto_qn, pluto_si], ignore_index=True)
pmap.geometry = pmap.geometry.to_crs(epsg = 4326)

print '# BBL:', len(pmap.BBL)

# BBL: 767552

In [3]:
# read in FQ biz records
data = pd.read_csv(os.path.join(os.path.dirname(cwd), 'data', 'data', 'output', 'chunk_0.csv'))

# convert string to geometry point
def convert_str_point(string):
    x = float(string.split('POINT')[1].split(' ')[1][1:])
    y = float(string.split('POINT')[1].split(' ')[2][:-1])
    return geometry.Point((x,y))

# add in a new column in data
data['true_geo'] = map(convert_str_point, data.geometry)
# turn into a geodataframe
data = gpd.GeoDataFrame(data, geometry = 'true_geo')

In [97]:
def findbbl(biz_list, BBLdata):
    '''
    for faster scan
    define each geometry point's BBL
    get the first BBL record
    '''
    # using R-Tree algorithm
    precise_matches = []
    spatial_index = BBLdata.sindex
    for i, point in enumerate(biz_list.true_geo):
        pbuff = point.buffer(0.00000001)
        possible_matches_index = list(spatial_index.intersection(pbuff.bounds))
        possible_matches = BBLdata.iloc[possible_matches_index, :]
        try:
            #precise_matches.append(possible_matches[possible_matches.geometry.contains(biz_list['true_geo'][i])].iloc[0,6])
            pre_match_set = possible_matches[possible_matches.geometry.contains(biz_list['true_geo'][i])]
            if len(pre_match_set) > 0:
                precise_matches.append(pre_match_set.iloc[0,6])
            else:
                precise_matches.append(np.nan)
        except ValueError:
            precise_matches.append(np.nan)

    return precise_matches

In [87]:
def easyfind(x):
    '''
    without geo threshold
    slower
    '''
    find = BBLdata[BBLdata.geometry.contains(x)]
    if len(find) > 0:
        return find.iloc[0,6]
    else:
        return np.nan

In [98]:
# Compare above two functions
bbllist = findbbl(data, pmap)
bbllist2 = map(easyfind, data['true_geo'])

In [108]:
bbllist_all = pd.DataFrame([bbllist, bbllist2]).T
bbllist_all

               0             1
0   1.002360e+09  1.002360e+09
1   1.002360e+09  1.002360e+09
2            NaN           NaN
3            NaN           NaN
4            NaN           NaN
5            NaN           NaN
6            NaN           NaN
7            NaN           NaN
8            NaN           NaN
9   1.005400e+09  1.005400e+09
10           NaN           NaN
11  1.004950e+09  1.004950e+09
12           NaN           NaN
13  4.073300e+09  4.073300e+09
14  4.107670e+09  4.107670e+09
15  4.097950e+09  4.097950e+09
16           NaN           NaN
17  1.013940e+09  1.013940e+09
18  5.016850e+09  5.016850e+09
19  1.014498e+09  1.014498e+09
20           NaN           NaN
21           NaN           NaN
22           NaN           NaN
23  3.072040e+09  3.072040e+09
24           NaN           NaN
25           NaN           NaN
26  4.008310e+09  4.008310e+09
27  3.018570e+09  3.018570e+09
28           NaN           NaN
29           NaN           NaN
30           NaN           NaN
31  1.006958e+09  1.006958e+09
32           NaN           NaN
33  1.005400e+09  1.005400e+09
34           NaN           NaN
35           NaN           NaN
36           NaN           NaN
37           NaN           NaN
38           NaN           NaN
39           NaN           NaN
40           NaN           NaN
41           NaN           NaN
42           NaN           NaN
43           NaN           NaN
44  4.013190e+09  4.013190e+09

### Seems they return the same result but why protions of NaN got so high?
### Take a look at the records:

In [135]:
nan_index = bbllist_all.loc[set(bbllist_all.index) - set(bbllist_all.dropna().index), :].index

In [140]:
# Ha no idea what's going on
data.loc[nan_index, :]

,Unnamed: 0,rating,stats.checkinsCount,stats.tipCount,stats.usersCount,stats.visitsCount,location.lat,location.lng,location.postalCode,id,geometry,fs_cat,true_geo
2,2,5.8,6899,19,2449,8496,40.729352,-74.006925,10014.0,4b2b9539f964a520e0b724e3,POINT (-74.00692507282733 40.72935205409404),NaN,POINT (-74.00692507282733 40.72935205409404)
3,3,7.7,113,5,283,510,40.838350,-73.939963,10032.0,53f045ba498ec9e735cd769d,POINT (-73.93996314107633 40.83835015785895),NaN,POINT (-73.93996314107633 40.83835015785895)
4,4,NaN,285,1,161,319,40.628321,-74.029090,11209.0,4d211b82d7b0b1f7ef8b1a9f,POINT (-74.02909 40.628321),NaN,POINT (-74.02909 40.628321)
5,5,7.4,568,16,761,1479,40.829271,-73.948482,10031.0,545c1ceb498e0ebdeeb0c3c2,POINT (-73.94848174669116 40.82927139337374),NaN,POINT (-73.94848174669116 40.82927139337374)
6,6,8.5,617,21,457,950,40.749381,-73.888562,11372.0,4b76e7f1f964a52025692ee3,POINT (-73.88856230389622 40.74938136280484),NaN,POINT (-73.88856230389622 40.74938136280484)
7,7,6.0,548,6,293,566,40.799525,-73.968308,10025.0,4bcbd62afb84c9b60ba21f3e,POINT (-73.96830797195435 40.79952463781577),NaN,POINT (-73.96830797195435 40.79952463781577)
8,8,NaN,52,2,55,93,40.684703,-73.844810,11416.0,4c539b4c1b46c9b680e936cd,POINT (-73.84480956099328 40.6847034087475),NaN,POINT (-73.84480956099328 40.6847034087475)
10,10,8.6,10938,112,7199,14423,40.716935,-73.999746,10013.0,4b55cd09f964a520acf027e3,POINT (-73.99974616246784 40.7169346902617),NaN,POINT (-73.99974616246784 40.7169346902617)
12,12,7.0,327,1,339,662,40.767161,-73.738468,NaN,51ccbc60498eb28875eaf9ce,POINT (-73.73846830085699 40.76716092119024),NaN,POINT (-73.73846830085699 40.76716092119024)
16,16,6.6,57,1,45,68,40.881249,-73.878944,10467.0,4b4f7901f964a520090827e3,POINT (-73.87894431325324 40.88124851192866),NaN,POINT (-73.87894431325324 40.88124851192866)
20,20,6.7,64,3,42,74,40.860348,-73.893130,10458.0,4cb0f72d75ebb60cba60c9ad,POINT (-73.89312967658043 40.8603478199933),NaN,POINT (-73.89312967658043 40.8603478199933)
21,21,NaN,1,0,1,1,40.636290,-74.008804,11220.0,584f27c644587f7e6d8dafa3,POINT (-74.008804 40.63629),NaN,POINT (-74.008804 40.63629)
22,22,NaN,28,0,27,28,40.729261,-73.985422,10003.0,55bab4fb498e8246a3762551,POINT (-73.98542196927326 40.72926075992856),NaN,POINT (-73.98542196927326 40.72926075992856)
24,24,8.8,202,12,224,353,40.702319,-73.919957,NaN,4aa6f8edf964a520ac4b20e3,POINT (-73.91995672248721 40.70231924112893),NaN,POINT (-73.91995672248721 40.70231924112893)
25,25,NaN,103,0,175,543,40.715842,-73.771432,11423.0,4b8601a1f964a5203f7d31e3,POINT (-73.77143205382002 40.71584153051814),NaN,POINT (-73.77143205382002 40.71584153051814)
28,28,7.4,494,8,588,788,40.761798,-73.760441,11361.0,4cfabd83d7206ea80bd43a69,POINT (-73.76044090766592 40.76179752238456),NaN,POINT (-73.76044090766592 40.76179752238456)
29,29,5.9,480,12,187,493,40.667719,-73.980870,11215.0,4b51f0d0f964a5206d5c27e3,POINT (-73.98087 40.667719),NaN,POINT (-73.98087 40.667719)
30,30,9.0,10485,126,7883,12298,40.767653,-73.982925,10019.0,4a20a2e9f964a520af7c1fe3,POINT (-73.98292545600036 40.76765291211733),NaN,POINT (-73.98292545600036 40.76765291211733)
32,32,7.9,451,2,327,883,40.611949,-73.983178,11204.0,5330f638498e32e9b3c8ac14,POINT (-73.98317813873291 40.61194888949085),NaN,POINT (-73.98317813873291 40.61194888949085)
34,34,8.5,2245,44,1770,2288,40.730179,-73.984085,10003.0,49e7a32cf964a520f3641fe3,POINT (-73.98408476045194 40.73017915715283),NaN,POINT (-73.98408476045194 40.73017915715283)
35,35,NaN,163,1,80,192,40.656702,-73.950123,11225.0,4c0d82f6c700c9b6c88ba2dd,POINT (-73.95012342946049 40.65670163958153),NaN,POINT (-73.95012342946049 40.65670163958153)
36,36,8.2,1327,46,433,1539,40.644138,-73.976439,11218.0,4d5c12a01e43236a87eb1583,POINT (-73.976439 40.644138),NaN,POINT (-73.976439 40.644138)
37,37,9.2,11259,169,6785,17321,40.828844,-73.948671,10031.0,4f0c74ede4b0f615a3725efd,POINT (-73.94867117233746 40.82884370699112),NaN,POINT (-73.94867117233746 40.82884370699112)
38,38,6.7,1742,28,790,1787,40.760188,-73.990806,10036.0,4a14698af964a5203b781fe3,POINT (-73.99080634117126 40.76018755356003),NaN,POINT (-73.99080634117126 40.76018755356003)
39,39,7.6,117,5,97,117,40.758775,-73.965805,10022.0,5154c35fe4b071ef7b131580,POINT (-73.9658048147661 40.75877463218568),NaN,POINT (-73.9658048147661 40.75877463218568)
40,40,9.2,15409,287,13809,18961,40.734537,-73.998225,10011.0,41abb800f964a520581e1fe3,POINT (-73.9982254154925 40.73453660266883),NaN,POINT (-73.9982254154925 40.73453660266883)
41,41,5.3,286,3,124,291,40.685390,-73.991316,11201.0,4af0e1e3f964a520e5df21e3,POINT (-73.991316 40.68539026666667),NaN,POINT (-73.991316 40.68539026666667)
42,42,7.7,1536,5,1358,2480,40.732426,-74.037809,7310.0,4c66f28a9cedd13a252f77a1,POINT (-74.03780937194824 40.7324255438158),NaN,POINT (-74.03780937194824 40.7324255438158)
43,43,8.8,487,15,373,740,40.829356,-73.875625,10472.0,4b23f2a0f964a520855d24e3,POINT (-73.87562527910156 40.82935597173562),NaN,POINT (-73.87562527910156 40.82935597173562)