In [21]:
import pandas as pd
from collections import Counter

In [64]:
df = pd.read_csv('../data/spatial_merged_solid.csv')
#topics = pd.read_csv('../data/topic_output.csv')
#topic_filter = pd.read_csv('../data/categories.csv')
complaint = pd.read_csv('../data/311_complaint.csv')
insp = pd.read_csv('../DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

In [65]:
# merge original inspection stuff with main df
df = df.merge(insp, on='CAMIS', how='inner')

In [66]:
# merge 311 stuff with main df
df = df.merge(complaint, on='CAMIS', how='left')

In [67]:
# feature selection
df = df.loc[:, ['CAMIS', # inspection data
                'GRADE_y',
                'new_grade',
                'INSPECTION DATE_y',
                'VIOLATION CODE',
                'SCORE',
                'GRADE'
                'CD', # pluto data, BBL-level (spatially merged)
                'HealthArea',
                'SanitDistr',
                'AssessTot',
                'YearAlter1',
                'YearAlter2',
                'YearBuilt',
                'NumFloors',
                'yelp_rating', # yelp data, restaurant-level
                'yelp_categories',
                'yelp_review_count',
                'stats.checkinsCount', # foursquare data, restaurant-level
                'stats.tipCount',
                'stats.usersCount',
                '311_complaint_count', # 311 food complaints, restaurant-level
                'goog_lat', # google location
                'goog_lng']]

In [68]:
# rename a couple weird columns post-merge
df.columns =   ['CAMIS', # inspection data
                'GRADE',
                'new_grade',
                'INSPECTION DATE',
                'VIOLATION CODE',
                'SCORE',
                'GRADE'
                'CD', # pluto data, BBL-level (spatially merged)
                'HealthArea',
                'SanitDistr',
                'AssessTot',
                'YearAlter1',
                'YearAlter2',
                'YearBuilt',
                'NumFloors',
                'yelp_rating', # yelp data, restaurant-level
                'yelp_categories',
                'yelp_review_count',
                'stats.checkinsCount', # foursquare data, restaurant-level
                'stats.tipCount',
                'stats.usersCount',
                '311_complaint_count', # 311 food complaints, restaurant-level
                'goog_lat', # google location
                'goog_lng']

In [69]:
# only care about the records with a y-label
df = df.loc[map(lambda g: type(g)==str, df.new_grade), :]

In [70]:
df.head()

,CAMIS,GRADE,new_grade,INSPECTION DATE,VIOLATION CODE,SCORE,GRADECD,HealthArea,SanitDistr,AssessTot,...,NumFloors,yelp_rating,yelp_categories,yelp_review_count,stats.checkinsCount,stats.tipCount,stats.usersCount,311_complaint_count,goog_lat,goog_lng
15,50063156,Not Yet Graded,C,04/13/2017,02G,29.0,NaN,3800.0,4.0,556650.0,...,2.0,NaN,NaN,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422
16,50063156,Not Yet Graded,C,04/13/2017,06E,29.0,NaN,3800.0,4.0,556650.0,...,2.0,NaN,NaN,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422
17,50063156,Not Yet Graded,C,04/13/2017,10B,29.0,NaN,3800.0,4.0,556650.0,...,2.0,NaN,NaN,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422
18,50063156,Not Yet Graded,C,04/13/2017,04N,29.0,NaN,3800.0,4.0,556650.0,...,2.0,NaN,NaN,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422
19,50063156,Not Yet Graded,C,04/13/2017,08A,29.0,NaN,3800.0,4.0,556650.0,...,2.0,NaN,NaN,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422

In [71]:
def clean_cat(cat):
    """
    cleans a single yelp category string
    """
    cat = cat.replace('[', '')\
    .replace(']', '')\
    .replace('u', '')\
    .replace("'", "")\
    .replace(" ", "")
    
    return cat

In [72]:
def get_top_categories(n):
    """
    returns a list of top n yelp categories from observed data
    """
    yelp_cats = list(df.yelp_categories)
    yelp_cats = filter(lambda cat: type(cat)==str, yelp_cats)
    yelp_cats = ','.join(yelp_cats).split(',')
    yelp_cats = map(clean_cat, yelp_cats)
    
    return map(lambda x: x[0], Counter(yelp_cats).most_common(n))

In [73]:
# testing top categories function
get_top_categories(10)

['pizza',
 'coffee',
 'chinese',
 'italian',
 'sandwiches',
 'breakfast_brnch',
 'bakeries',
 'tradamerican',
 'newamerican',
 'bars']

In [74]:
def substring(cat, cats):
    """
    checks if a string contains a substring, with error handling
    """
    try:
        return int(cat in cats)
    except TypeError:
        return 0

In [75]:
def category_one_hot(df, n):
    """
    appends n columns to a dataframe
    corresponding to yes/no for the 'n' most common yelp categories
    """
    for cat in get_top_categories(n):
        col_name = 'is_' + cat
        df.loc[:, col_name] = df.apply(lambda row: substring(cat, row['yelp_categories']), axis=1)
    return df

In [76]:
# apply category one-hots to dataframe
df = category_one_hot(df, 3)
df.head()

,CAMIS,GRADE,new_grade,INSPECTION DATE,VIOLATION CODE,SCORE,GRADECD,HealthArea,SanitDistr,AssessTot,...,yelp_review_count,stats.checkinsCount,stats.tipCount,stats.usersCount,311_complaint_count,goog_lat,goog_lng,is_pizza,is_coffee,is_chinese
15,50063156,Not Yet Graded,C,04/13/2017,02G,29.0,NaN,3800.0,4.0,556650.0,...,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422,0,0,0
16,50063156,Not Yet Graded,C,04/13/2017,06E,29.0,NaN,3800.0,4.0,556650.0,...,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422,0,0,0
17,50063156,Not Yet Graded,C,04/13/2017,10B,29.0,NaN,3800.0,4.0,556650.0,...,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422,0,0,0
18,50063156,Not Yet Graded,C,04/13/2017,04N,29.0,NaN,3800.0,4.0,556650.0,...,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422,0,0,0
19,50063156,Not Yet Graded,C,04/13/2017,08A,29.0,NaN,3800.0,4.0,556650.0,...,NaN,523.0,2.0,95.0,2.0,40.826254,-73.921422,0,0,0